.navigation-container {
    background-color: black;
    padding-bottom: 5px;
    text-align: center;
}

.navigation-image {
    margin-top: 10px;
    width: 50%;
    max-width: 500px;
}

.navigation-button {
    width: 15%;
    margin: 5px 5px !important;
    background-color: black !important;
    color: #cacc4e !important;
    outline: none !important;
}

